#background {
    background-image: url('./background.jpg');
    width: 1200px;
    height: 800px;
}

#status {
    color: white;
    top: 700px;
    left: 1000px;
    position: absolute;
}

#countDown {
    font-size: 100px;
}

#ship {
    background-image: url('./ship.png');
    width: 50px;
    height: 50px;
    position: absolute;
    top: 700px;
    left: 600px;
}

#rocketContainer {
    width: 1200px;
    height: 800px;
    position: absolute;
}

#bulletContainer {
    width: 1200px;
    height: 800px;
    position: absolute;
}

#attackContainer {
    width: 1200px;
    height: 800px;
    position: absolute;
}

#enemyContainer {
    width: 1200px;
    height: 800px;
    position: absolute;
}

#explosionContainer {
    width: 1200px;
    height: 800px;
    position: absolute;
}

#infoContainer {
    background-image: url('./transition.jpg');
    width: 1200px;
    height: 800px;
    position: absolute;
}

progress {
    width: 50px;
    height: 5px;
    background-color: lightslategray;
}

progress::-webkit-progress-bar {
    background-color: lightgrey;
}

progress::-webkit-progress-value {
    background-color: greenyellow;
}

.intro {
    margin-top: 25%;
    color: white;
    text-align: center;
    font-size: xx-large;
    position: relative;
}

.info {
    margin-top: 15%;
    color: white;
    text-align: center;
    font-size: xx-large;
    position: relative;
}

.enemy {
    background-image: url('./enemy.png');
    width: 50px;
    height: 50px;
    position: absolute;
    top: 100px;
    left: 600px;
}

.enemy2 {
    background-image: url('./enemy2.png');
    width: 50px;
    height: 50px;
    position: absolute;
    top: 100px;
    left: 600px;
}

.enemy3 {
    background-image: url('./enemy3.png');
    width: 50px;
    height: 50px;
    position: absolute;
    top: 100px;
    left: 600px;
}

.rocket {
    background-image: url('./rocket.png');
    width: 10px;
    height: 16px;
    position: absolute;
}

.explosion {
    background-image: url('./explode.png');
    width: 50px;
    height: 50px;
    position: absolute;
}

.attack {
    background-image: url('./attack.png');
    width: 16px;
    height: 16px;
    position: absolute;
}

.bullet {
    background-image: url('./bullet.png');
    width: 7px;
    height: 16px;
    position: absolute;
}

.boss {
    background-image: url('./boss.png');
    width: 441px;
    height: 321px;
    position: absolute;
    top: 100px;
    left: 350px;
}

.explosion_big {
    background-image: url('./explode_big.png');
    width: 441px;
    height: 364px;
    position: absolute;
}