#background {
    background-image: url('./background.jpg');
    width: 1200px;
    height: 800px;
}

#ship {
    background-image: url('./ship.png');
    width: 50px;
    height: 50px;
    position: absolute;
    top: 700px;
    left: 600px;
}

#rocketContainer {
    width: 1200px;
    height: 800px;
    position: absolute;
}

#enemyContainer {
    width: 1200px;
    height: 800px;
    position: absolute;
}

.enemy {
    background-image: url('./enemy.png');
    width: 50px;
    height: 50px;
    position: absolute;
    top: 100px;
    left: 600px;
}

.rocket {
    background-image: url('./rocket.png');
    width: 10px;
    height: 16px;
    position: absolute;
}